---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/arfon/metamatter/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1461971081'
      Etag:
      - W/"707c12d6c9dc7e8cad99519737403897"
      Last-Modified:
      - Sun, 17 Apr 2016 23:49:58 GMT
      X-Github-Media-Type:
      - github.drax-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"arfon","id":4483,"avatar_url":"https://avatars.githubusercontent.com/u/4483?v=3","gravatar_id":"","url":"https://api.github.com/users/arfon","html_url":"https://github.com/arfon","followers_url":"https://api.github.com/users/arfon/followers","following_url":"https://api.github.com/users/arfon/following{/other_user}","gists_url":"https://api.github.com/users/arfon/gists{/gist_id}","starred_url":"https://api.github.com/users/arfon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/arfon/subscriptions","organizations_url":"https://api.github.com/users/arfon/orgs","repos_url":"https://api.github.com/users/arfon/repos","events_url":"https://api.github.com/users/arfon/events{/privacy}","received_events_url":"https://api.github.com/users/arfon/received_events","type":"User","site_admin":true,"contributions":41}]'
  recorded_at: Fri, 29 Apr 2016 22:12:40 GMT
- request:
    method: get
    uri: https://api.github.com/users/arfon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Ratelimit-Reset:
      - '1461971081'
      Etag:
      - W/"4499607361[...]
- request:
    method: get
    uri: https://orcid.org/v1.2/search/orcid-bio/?q=given-names:Arfon%20AND%20family-name:Smith&rows=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message-version":"1.2","orcid-profile":null,"orcid-search-results":{"orcid-search-result":[{"relevancy-score":{"value":15.52666},"orcid-profile":{"orcid":null,"orcid-id":null,"orcid-identifier":{"value":null,"uri":"http://orcid.org/0000-0002-3957-2474","path":"0000-0002-3957-2474","host":"orcid.org"},"orcid-deprecated":null,"orcid-preferences":null,"orcid-history":null,"orcid-bio":{"personal-details":{"given-names":{"value":"Arfon","visibility":"PUBLIC"},"family-name":{"value":"Smith","visibility":"PUBLIC"},"credit-name":null,"other-names":null},"biography":null,"researcher-urls":null,"contact-details":{"email":[{"value":"arfon.smith@gmail.com","primary":true,"current":true,"verified":true,"visibility":"PUBLIC","source":null,"source-client-id":null}],"address":null},"keywords":null,"external-identifiers":{"external-identifier":[{"orcid":null,"external-id-orcid":null,"external-id-common-name":{"value":"Scopus
        Author ID"},"external-id-reference":{"value":"55498582500"},"external-id-url":{"value":"http://www.scopus.com/inward/authorDetails.url?authorID=55498582500&partnerID=MN8TOARS"},"external-id-source":null,"source":{"source-orcid":{"value":null,"uri":"http://orcid.org/0000-0002-5982-8983","path":"0000-0002-5982-8983","host":"orcid.org"},"source-client-id":null,"source-name":{"value":"Scopus
        to ORCID"},"source-date":{"value":1461014874798}}}],"visibility":"PUBLIC"},"delegation":null,"scope":null},"orcid-activities":null,"orcid-internal":null,"type":null,"group-type":null,"client-type":null}}],"num-found":1},"error-desc":null}'
  recorded_at: Fri, 29 Apr 2016 22:12:41 GMT
[...]
