---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/arfon/metamatter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1437862937'
      Last-Modified:
      - Fri, 10 Jul 2015 15:23:18 GMT
      Etag:
      - W/"6b64e1b3e721ba5e94eda2853702bf97"
      X-Oauth-Scopes:
      - public_repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.drax-preview; format=json
    body:
      encoding: UTF-8
      string: '{"id":38612794,"name":"metamatter","full_name":"arfon/metamatter","owner":{"login":"arfon","id":4483,"avatar_url":"https://avatars.githubusercontent.com/u/4483?v=3","gravatar_id":"","url":"https://api.github.com/users/arfon","html_url":"https://github.com/arfon","followers_url":"https://api.github.com/users/arfon/followers","following_url":"https://api.github.com/users/arfon/following{/other_user}","gists_url":"https://api.github.com/users/arfon/gists{/gist_id}","starred_url":"https://api.github.com/users/arfon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/arfon/subscriptions","organizations_url":"https://api.github.com/users/arfon/orgs","repos_url":"https://api.github.com/users/arfon/repos","events_url":"https://api.github.com/users/arfon/events{/privacy}","received_events_url":"https://api.github.com/users/arfon/received_events","type":"User","site_admin":true},"private":false,"html_url":"https://github.com/arfon/metamatter","description":"Minimal
        metadata extractor for the GitHub API","fork":false,"url":"https://api.github.com/repos/arfon/metamatter","forks_url":"https://api.github.com/repos/arfon/metamatter/forks","keys_url":"https://api.github.com/repos/arfon/metamatter/keys{/key_id}","collaborators_url":"https://api.github.com/repos/arfon/metamatter/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/arfon/metamatter/teams","hooks_url":"https://api.github.com/repos/arfon/metamatter/hooks","issue_events_url":"https://api.github.com/repos/arfon/metamatter/issues/events{/number}","events_url":"https://api.github.com/repos/arfon/metamatter/events","assignees_url":"https://api.github.com/repos/arfon/metamatter/assignees{/user}","branches_url":"https://api.github.com/repos/arfon/metamatter/branches{/branch}","tags_url":"https://api.github.com/repos/arfon/metamatter/tags","blobs_url":"https://api.github.com/repos/arfon/metamatter/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/arfon/metamatter/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/arfon/metamatter/git/refs{/sha}","trees_url":"https://api.github.com/repos/arfon/metamatter/git/trees{/sha}","statuses_url":"https://api.github.com/repos/arfon/metamatter/statuses/{sha}","languages_url":"https://api.github.com/repos/arfon/metamatter/languages","stargazers_url":"https://api.github.com/repos/arfon/metamatter/stargazers","contributors_url":"https://api.github.com/repos/arfon/metamatter/contributors","subscribers_url":"https://api.github.com/repos/arfon/metamatter/subscribers","subscription_url":"https://api.github.com/repos/arfon/metamatter/subscription","commits_url":"https://api.github.com/repos/arfon/metamatter/commits{/sha}","git_commits_url":"https://api.github.com/repos/arfon/metamatter/git/commits{/sha}","comments_url":"https://api.github.com/repos/arfon/metamatter/comments{/number}","issue_comment_url":"https://api.github.com/repos/arfon/metamatter/issues/comments{/number}","contents_url":"https://api.github.com/repos/arfon/metamatter/contents/{+path}","compare_url":"https://api.github.com/repos/arfon/metamatter/compare/{base}...{head}","merges_url":"https://api.github.com/repos/arfon/metamatter/merges","archive_url":"https://api.github.com/repos/arfon/metamatter/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/arfon/metamatter/downloads","issues_url":"https://api.github.com/repos/arfon/metamatter/issues{/number}","pulls_url":"https://api.github.com/repos/arfon/metamatter/pulls{/number}","milestones_url":"https://api.github.com/repos/arfon/metamatter/milestones{/number}","notifications_url":"https://api.github.com/repos/arfon/metamatter/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/arfon/metamatter/labels{/name}","releases_url":"https://api.github.com/repos/arfon/metamatter/releases{/id}","created_at":"2015-07-06T10:42:12Z","updated_at":"2015-07-10T15:23:18Z","pushed_at":"2015-07-25T21:04:33Z","git_url":"git://github.com/arfon/metamatter.git","ssh_url":"git@github.com:arfon/metamatter.git","clone_url":"https://github.com/arfon/metamatter.git","svn_url":"https://github.com/arfon/metamatter","homepage":null,"size":164,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":3,"default_branch":"master","master_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"license":{"key":"mit","name":"MIT
        License","url":"https://api.github.com/licenses/mit","featured":true},"network_count":0,"subscribers_count":1}'
  recorded_at: Sat, 25 Jul 2015 21:22:53 GMT
recorded_with: VCR 2.9.3
